<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" >

<head>
<meta charset="UTF-8">
<title>Food</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/food.css}"/>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>

<body>

	<header>
		<div id="divLogotipoSistema">
		<span id="spanAuxiliarDeAlinhamentoVertical"></span>
			<a th:href="${link} == null ? @{/} : ${link}">
			<img th:src="@{/images/food.png}" id="imgLogotipoSistema"/>
			</a>
		</div>
		
		<div id="divUsuarioLogado" th:if="${#authentication.principal != 'anonymousUser'}">
			<br />
			<span th:text="'Olá, ' + ${#authentication.principal.usuario.nome} + '!'"></span>
			
			<div th:if="${session.carrinho != null}" style="display: inline;">
				<br/>
				<a th:href="@{/cliente/carrinho/visualizar}"><img th:src="@{/images/carrinho.png}" id="imgCarrinho" /></a>
			</div>
			
		</di>
	</header>
	<br />
	<br />
	<!-- Cabeçalho - Fim -->
	
	<!-- Conteúdo -->
	<div layout:fragment="content"></div>

	<!-- Rodapé - Início -->
</body>

</html>