<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" 
	layout:decorate="~{layout}">

<body>
	<div layout:fragment="content">
		<div>
			<img th:src="@{/images/user.png}" id="imgIconeUsuario">
			<h1>Autenticação</h1>
			<form method="post" th:action="@{/login}">
				<fieldset>
					<input type="text" name="username" placeholder="E-mail"> 
					<input type="password" name="password" placeholder="Senha"> 
					<br />
					<input type="submit" value="Entrar">
				</fieldset>
			</form>
			<br>
			<div id="msgDeErro" th:if="${msg != null}">
				<span th:text="${msg}"></span>
			</div>
			<br>
			<form method="get" th:action="@{/public/cliente/new}" >
				<input type="submit" value="Criar Conta Usuário" />
			</form>
			<br/>
			<form method="get" th:action="@{/public/restaurante/new}" >
				<input type="submit" value="Criar Conta Restaurante" />
			</form>
		</div>
	</div>
</body>

</html>